@import 'modules/base.scss';
@import 'modules/header-section.scss';
@import 'modules/logo-section.scss';
@import 'modules/search-section.scss';

$accent: #4285f4;

#logo-text {
    position: absolute;
    left: 215px;
    bottom: 0;
    color: $accent;
    font: 16px/16px roboto-regular, arial, sans-serif;
    white-space: nowrap;
}

#search-button {
    flex: 0 0 auto;
    background: transparent;
    height: 44px;
    width: 44px;
    padding: 0 13px 0 0;
    border: none;
    cursor: pointer;
}

#search-button-icon-box {
    background: none;
    color: $accent;
    height: 24px;
    width: 24px;
    margin: auto;
}
