@import 'modules/base.scss';
@import 'modules/header-section.scss';
@import 'modules/logo-section.scss';
@import 'modules/search-section.scss';

$text: #202124;
$accent: #4285f4;
$secondary: #f8f9fa;
$secondary-text: #3c4043;
$secondary-border: #dadce0;

#search-buttons-wrapper {
    height: 70px;
    padding-top: 18px;

    input[type="submit"] {
        background-color: $secondary;
        color: $secondary-text;
        text-align: center;
        font: 14px arial, sans-serif;
        line-height: 27px;
        height: 36px;
        min-width: 54px;
        margin: 11px 4px;
        padding: 0 16px;
        border: 1px solid #f8f9fa;
        border-radius: 4px;
        cursor: pointer;
        user-select: none;
    }

    input[type="submit"]:hover {
        background-color: $secondary;
        color: $text;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        border: 1px solid $secondary-border;
    }

    input[type="submit"]:focus {
        border: 1px solid $accent;
        outline: none;
    }
}
