#header-section {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 6px;
}

#header-content {
    display: inline-block;
    flex-grow: 1;
    position: relative;
    z-index: 986;
    color: black;
    font: 13px/27px Roboto, Arial, sans-serif;
    height: 48px;
    min-width: auto;
}

#nav-wrapper {
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    flex: 0 0 auto;
    -moz-box-flex: 0;
    align-items: center;
    -moz-box-align: center;
    justify-content: flex-end;
    -moz-box-pack: flex-end;
    float: right;
    vertical-align: middle;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px 0 0;
    white-space: nowrap;
    user-select: none;
    -moz-user-select: -moz-none;
}

#nav-items {
    font-family: arial, sans-serif;
    line-height: normal;
    padding-right: 15px;
}

.nav-item {
    display: inline-block;
    padding-left: 15px;
}

.nav-link {
    display: inline-block;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    vertical-align: middle;
    line-height: 24px;

    &:visited {
        color: rgba(0, 0, 0, 0.87);
    }
}
