#logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 560px);
    min-height: 92px;
    max-height: 290px;
}

#logo-content {
    position: relative;
    height: 100%;
    max-height: 92px;
    margin-top: auto;
}
